body {
  background-image: url("../../src/img/bg_login_prof.png");
}

.error {
  color: white;
  padding: 10px;
  font-weight: 900;
  text-align: center;
}

.button_login_td {
  margin: auto;
  padding: 0;
  border-radius: 40px;
  border: 0;
  background-color: #393939;
  width: 50%;
  height: 50px;
}
.button_login_td:hover {
  background: #000000;
}

.button_login {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 150%;
  width: 50%;
}
#button_login:hover {
  background: #000000;
  color: white;
}

.button_login_border {
  margin: auto;
  padding: 0;
  border-radius: 30px;
  border: 0;
  background-color: #999999;
  width: 50%;
  height: 50px;
}
.button_login_border:hover {
  background: #000000;
}

. button_create_account {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 135%;
  width: 50%;
}
# button_create_account:hover {
  background: #000000;
  color: white;
}
