/* prof_feedback.php */
/* prof_read.php */
/* prof_view.php */

.botonbordeV {
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #082460b4;
  display: flex;
  justify-content: center;
}
.botonbordeV:hover {
  border-radius: 10px;
  background: #082460;
}

.botonfinalV {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 150%;
}
#botonfinalV:hover {
  border-radius: 10px;
  background: #082460;
  color: white;
}
