.title_table {
  background-color: #eef5ff;
  color: #082460;
  margin: auto;
  padding: 0;
  border: 0;
}

.botonbordeA {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #00ae1a;
}
.botonbordeA:hover {
  background: #006028;
}

.botonfinalA {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
}
#botonfinalA:hover {
  border-radius: 10px;
  background: #006028;
  color: white;
}

.botonbordeC {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #636e72;
}
.botonbordeC:hover {
  background: #1d1d1d;
}

.button_accept {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
}
#button_accept:hover {
  background: #1d1d1d;
  color: white;
}

.button_reject {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
  text-decoration: none;
}
#button_reject:hover {
  background: #600000;
  color: white;
  text-decoration: none;
}

.button_border_reject {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #d00000;
}
.button_border_reject:hover {
  background: #600000;
}
