.titulotabla {
  background-color: #eef5ff;
  color: #082460;
  margin: auto;
  padding: 0;
  border: 0;
}

.botonbordeA {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #00ae1a;
}
.botonbordeA:hover {
  background: #006028;
}

.botonfinalA {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
}
#botonfinalA:hover {
  border-radius: 10px;
  background: #006028;
  color: white;
}

.botonbordeC {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #636e72;
}
.botonbordeC:hover {
  background: #1d1d1d;
}

.botonfinalC {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
}
#botonfinalC:hover {
  background: #1d1d1d;
  color: white;
}

.botonfinalR {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
  text-decoration: none;
}
#botonfinalR:hover {
  background: #600000;
  color: white;
  text-decoration: none;
}

.botonbordeR {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #d00000;
}
.botonbordeR:hover {
  background: #600000;
}
