

/* Site */
.botonbordeR {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #0095d0;
}

.botonfinalR {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
  text-decoration: none;
}
#botonfinalR:hover {
  background: #004a68;
  color: white;
  text-decoration: none;
}

.botonbordeR:hover {
  background: #004a68;
}

.alv {
  text-decoration: none;
  color: white;
}
