body {
  background-image: url("../../src/img/bg_login_student.png");
  background-size: 100%;
  font-family: "Inter";
}

.error {
  color: white;
  padding: 10px;
  font-weight: 900;
  text-align: center;
}

.button_login {
  margin: auto;
  padding: 0;
  border-radius: 40px;
  border: 0;
  background-color: #00b1ff;
  width: 50%;
  height: 50px;
}
.button_login:hover {
  background: #006590;
}

.botonfinal {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 150%;
  width: 50%;
}
#botonfinal:hover {
  background: #006590;
  color: white;
}

.botonborde2 {
  margin: auto;
  padding: 0;
  border-radius: 30px;
  border: 0;
  background-color: #8fdcff;
  width: 50%;
  height: 50px;
}
.botonborde2:hover {
  background: #006590;
}

.botonfinal2 {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 135%;
  width: 50%;
}
#botonfinal2:hover {
  background: #006590;
  color: white;
}
