.button_border_x {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #0095d0;
}

.button_start {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: larger;
  text-decoration: none;
}
#button_start:hover {
  background: #004a68;
  color: white;
  text-decoration: none;
}

.button_border_x:hover {
  background: #004a68;
}

.alv {
  text-decoration: none;
  color: white;
}
