body {
  background-image: url("../../src/img/bg_login_admin.png");
  background-size: 100%;
  font-family: "Inter";
}

.error {
  color: white;
  padding: 10px;
  font-weight: 900;
  text-align: center;
}

.button_login {
  margin: auto;
  padding: 0;
  border-radius: 40px;
  border: 0;
  background-color: #360369;
  width: 50%;
  height: 50px;
}
.button_login:hover {
  background: #bb93d5ff;
}

.botonfinal {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 150%;
  width: 50%;
}
#botonfinal:hover {
  background: #bb93d5ff;
  color: white;
}

.botonborde2 {
  margin: auto;
  padding: 0;
  border-radius: 30px;
  border: 0;
  background-color: #e879ff;
  width: 50%;
  height: 50px;
}
.botonborde2:hover {
  background: #310938;
}

