body {
  font-family: "Inter";
  margin: 0;
}

.space {
  display: inline-block;
  width: 50px;
}

.input {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #e6e6e6;
  height: 30px;
  width: 100%;
  font-size: 14px;
}

#text1 {
  text-decoration: none;
  background-color: #13466c;
}

.input2 {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background-color: #e6e6e6;
  font-size: 14px;
}

.border {
  border-width: 3px;
  border-style: solid;
  border-color: #082460;
}

.btn {
  border-radius: 10px;
  background-color: #13466c;
  padding: 14px 28px;
  font-size: 18px;
}

th {
  border-radius: 5px;
}

td {
  border-radius: 5px;
}

.logos {
  background-color: #082460;
  height: 100%;
  border-radius: 10px;
}

.botonfinal2 {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  font-size: 135%;
  width: 50%;
}

#botonfinal2:hover {
  background: #a12a2a;
  color: white;
}
